<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/css/faq.css"/>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>FAQ</title>
  </head>

  <body>
        <!-------------------------- barre de navigation ---------------->
        <header>
          <nav class="navbar">
              <a href="../public/index.html" class="navbar-brand">e-MadaLearning</a>
              <ul class="navbar-nav">
                  <li class="nav-item"><a href="../public/index.html" class="nav-link">ACCUEIL</a></li>
                  <li class="nav-item"><a href="../views/course.html" class="nav-link">COURS</a></li>
                  <li class="nav-item"><a href="../views/about.html" class="nav-link">À PROPOS</a></li>
                  <li class="nav-item"><a href="../views/contact.html" class="nav-link">CONTACT</a></li>
                  <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle">Autres Pages</a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item nav-item"><a href="team.html" class="nav-link">La team</a></li>
                        <li class="dropdown-item nav-item"><a href="pricing-card.html" class="nav-link">Tarifs</a></li>
                        <li class="dropdown-item nav-item"><a href="/views/quiz/index.html" class="nav-link">Quizz d'entrainement</a></li>
                        <li class="dropdown-item nav-item"><a href="../views/library.html" class="nav-link">Bibliothèques</a></li>
                      </ul>
                  </li>
                  <li class="nav-item"><a href="faq.html" class="nav-link">FAQ</a></li>
                  <li class="nav-item sign-item"><a href="signin-signup.html" class="nav-link">JOIN NOW</a><img src="../public/img/login.svg" height="15em"></li>
              </ul>
          </nav>
      </header>
      <!------------------------------ fin de la barre de navigation -->
  <div class="container-faq">
    <div class="container-title-faq">
      <h1>Frequently Asked Questions</h1>
    </div>
    <div class="content-faq">
    <div class="faq-container">
      <div class="faq active">
        <h3 class="faq-title">
          Puis-je partager mon accès aux cours avec d'autres personnes ?
        </h3>

        <p class="faq-text">
          Non, l'accès aux cours est personnel et ne peut pas être partagé avec d'autres personnes
        </p>

        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div class="faq">
        <h3 class="faq-title">
          Y a-t-il des cours gratuits disponibles ?
        </h3>
        <p class="faq-text">
          Oui, nous proposons également des cours gratuits pour que vous puissiez découvrir notre plateforme.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>
      
      <div class="faq">
        <h3 class="faq-title">
          Puis-je suivre plusieurs cours en même temps ?
        </h3>
        <p class="faq-text">
          Oui, vous pouvez vous inscrire à autant de cours que vous le souhaitez et les suivre simultanément.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>
      
      <div class="faq">
        <h3 class="faq-title">
          Les certificats sont-ils délivrés à la fin des cours ?
        </h3>
        <p class="faq-text">
          Oui, vous recevrez un certificat de réussite à la fin de chaque cours que vous terminez avec succès.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>
      
      <div class="faq">
        <h3 class="faq-title">
          Comment puis-je contacter le support en cas de problème ?
        </h3>
        <p class="faq-text">
          Notre équipe d'assistance est disponible 24h/24, 7j/7. Vous pouvez nous contacter par e-mail ou via le chat en direct.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
    <!--------- faq fin ---------->

   <!-- Footer Start -->
   <footer>
    <div class="container-footer-up">
        <div class="footer-up">
            <div class="container-quick-link">
                <h4 class="title-quick-link">Quick Link</h4>
                <a class="btn-quick-link" href="../views/about.html">About Us</a>
                <a class="btn-quick-link" href="../views/contact.html">Contact Us</a>
                <a class="btn-quick-link" href="">Privacy Policy</a>
                <a class="btn-quick-link" href="">Terms & Condition</a>
                <a class="btn-quick-link" href="../views/faq.html">FAQs & Help</a>
            </div>
            <div class="container-contact">
                <h4 class="title-contact">Contact</h4>
                <img class="item-contact" src="../public/img/location.svg" alt=""><p class="adresse-contact detail-adress">123 Street, New York, USA</p><br>
                <img class="item-contact" src="../public/img/call.svg" alt=""><p class="phone-contact detail-adress">+012 345 67890</p><br>
                <img class="item-contact" src="../public/img/mail.svg" alt=""><p class="mail-contact detail-adress">info@example.com</p>
                <div class="container-social-media">
                    <a class="btn-social-twitter" href=""><img class="logo-social-media" src="../public/img/logo-twitter.png" alt=""></a>
                    <a class="btn-social-fb" href=""><img class="logo-social-media" src="../public/img/facebook.png" alt=""></a>
                    <a class="btn-social-linkedin" href=""><img class="logo-social-media" src="../public/img/instagram.png" alt=""></a>
                </div>
            </div>
            <div class="container-gallery">
                <h4 class="title-gallery">Gallery</h4>
                <div class="container-img">
                    <div class="item-gallery">
                        <img class="img-gallery" src="../public/img/course-1.jpg" height="40px" alt="">
                    </div>
                    <div class="item-gallery">
                        <img class="img-gallery" src="../public/img/course-2.jpg" height="40px" alt="">
                    </div>
                    <div class="item-gallery">
                        <img class="img-gallery" src="../public/img/course-3.jpg" height="40px" alt="">
                    </div>
                    <div class="item-gallery">
                        <img class="img-gallery" src="../public/img/course-2.jpg" height="40px" alt="">
                    </div>
                    <div class="item-gallery">
                        <img class="img-gallery" src="../public/img/course-3.jpg" height="40px" alt="">
                    </div>
                    <div class="item-gallery">
                        <img class="img-gallery" src="../public/img/course-1.jpg" height="40px" alt="">
                    </div>
                </div>
            </div>
            <div class="container-newsletter">
                <h4 class="title-newsletter">Newsletter</h4>
                <p>Veuillez vous inscrire à notre newsletter</p>
                <div class="container-newsletter-email">
                    <input class="email-newspaper" type="text" placeholder="Your email">
                    <button type="button" class="btn-email-newspaper">SignUp</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-copyright">
        <div class="content-copyright">
            <div class="row-copyright">
                <div class="item-copyright">
                    &copy; <a class="border-bottom" href="#">e-Madalearning</a>, All Right Reserved. Designed By<a class="border-bottom" href="#">Arnaud RAZAKAMAHEFA</a>
                </div>
                <div class="container-footer-menu">
                    <div class="content-footer-menu">
                        <a href="">Home</a>
                        <a class="a-cookies" href="">Cookies</a>
                        <a class="a-help" href="">Help</a>
                        <a href="../views/faq.html">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</footer>
<!-- Footer End -->
<script src="../public/js/faq.js"></script>
</body>
</html>

</html>
