<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>eLEARNING - eLearning HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!---------csss ----->
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/carousel.css">
    <link rel="stylesheet" href="../public/css/carousel-slide.css">
    <link rel="stylesheet" href="../public/css/Zom-categorie.css">
    <link rel="stylesheet" href="../public/css/carousel-testimonial.css">
    <link rel="stylesheet" href="../public/css/retour-haut-effet.css">
    <link rel="stylesheet" href="../public/css/course.css">

</head>

<body>

    <!-------------------------- barre de navigation ---------------->
    <header>

        <nav class="navbar">

            <a href="../public/index.html" class="navbar-brand">e-MadaLearning</a>

            <ul class="navbar-nav">
                <li class="nav-item"><a href="../public/index.html" class="nav-link">ACCUEIL</a></li>
                <li class="nav-item"><a href="../views/courses.html" class="nav-link">COURS</a></li>
                <li class="nav-item"><a href="../views/about.html" class="nav-link">À PROPOS</a></li>
                <li class="nav-item"><a href="../views/contact.html" class="nav-link">CONTACT</a></li>
                <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle">Autres Pages</a>
                    <!--Menu déroulant-->
                    <ul class="dropdown-menu">
                        <li class="dropdown-item nav-item"><a href="team.html" class="nav-link">La team</a></li>
                        <li class="dropdown-item nav-item"><a href="pricing-card.html" class="nav-link">Tarifs</a></li>
                        <li class="dropdown-item nav-item"><a href="../views/quiz/index.html" class="nav-link">Quizz d'entrainement</a></li>
                        <li class="dropdown-item nav-item"><a href="../views/library.html" class="nav-link">Bibliothèques</a></li>
                    </ul>

                </li>
                <li class="nav-item"><a href="../views/faq.html" class="nav-link">FAQ</a></li>
                <li class="nav-item sign-item"><a href="../views/signin-signup.html" class="nav-link">JOIN NOW</a><img src="../public/img/login.svg" height="15em"></li>
            </ul>

        </nav>

    </header>
    <!------------------------------ fin de la barre de navigation -->

    <!-------------------------------- insertion de l'image d'entête---->
    <div class="page-header">
        <div div="nav-inline">
            <h5 class="title-page-about">La team</h5>
            <div class="groupe-nav">
                <a class="a-nav-inline" href="../public/index.html">Home</a><span>/</span>
                <a class="a-nav-inline" href="../views/contact.html">Contacts</a>
            </div>
        </div>
    </div>
    <!-------------------------- din de l'insertion de l'image d'entête-->
   <!-- Team Start -->
   <div class="container-section-instructors">
    <div class="container-instructors">
        <div class="container-title-instructors">
            <h6 class="section-container-instructors">Formateurs</h6>
            <h1 class="title-instructors">Des formateurs expériementés</h1>
        </div>
        <div class="row-container-instructors">
            <div class="item-instructors">
                <div class="team-item-instructors">
                    <div class="img-team-instructors">
                        <img class="img-instructors" src="../public/img/team-1.jpg" alt="">
                    </div>
                    <div class="container-social-media-instructors">
                        <div class="social-media-instructors">
                            <a class="btn-fb-instructors" href=""><img class="img-facebook" src="../public/img/facebook.png" style="width: 40px; height: 40px;" alt=""></a>
                            <a class="btn-twitter-instructors" href=""><img class="img-twitter" src="../public/img/logo-twitter.png" style="width: 40px; height: 40px;" alt=""></a>
                            <a class="btn-instagram-instructors" href=""><img class="img-insta" src="../public/img/instagram.png" style="width: 40px; height: 40px;" alt=""></a>
                        </div>
                    </div>
                    <div class="container-identity-instructors">
                        <h5 class="name-instructors">John Doe</h5>
                        <small class="designation">Formateur HTML</small>
                    </div>
                </div>
            </div>
            <div class="item-instructors">
                <div class="team-item-instructors">
                    <div class="img-team-instructors">
                        <img class="img-instructors" src="../public/img/team-2.jpg" alt="">
                    </div>
                    <div class="container-social-media-instructors">
                        <div class="social-media-instructors">
                            <a class="btn-fb-instructors" href=""><img class="img-facebook" src="../public/img/facebook.png" alt=""></a>
                            <a class="btn-twitter-instructors" href=""><img class="img-twitter" src="../public/img/logo-twitter.png" alt=""></a>
                            <a class="btn-instagram-instructors" href=""><img class="img-insta" src="../public/img/instagram.png" alt=""></a>
                        </div>
                    </div>
                    <div class="container-identity-instructors">
                        <h5 class="name-instructors">Megane</h5>
                        <small class="designation">Formateur CSS</small>
                    </div>
                </div>
            </div>
            <div class="item-instructors">
                <div class="team-item-instructors">
                    <div class="img-team-instructors">
                        <img class="img-instructors" src="../public/img/team-3.jpg" alt="">
                    </div>
                    <div class="container-social-media-instructors">
                        <div class="social-media-instructors">
                            <a class="btn-fb-instructors" href=""><img class="img-facebook" src="../public/img/facebook.png" alt=""></a>
                            <a class="btn-twitter-instructors" href=""><img class="img-twitter" src="../public/img/logo-twitter.png" alt=""></a>
                            <a class="btn-instagram-instructors" href=""><img class="img-insta" src="../public/img/instagram.png" alt=""></a>
                        </div>
                    </div>
                    <div class="container-identity-instructors">
                        <h5 class="name-instructors">Smith</h5>
                        <small class="designation">Formateur Full-Stack</small>
                    </div>
                </div>
            </div>
            <div class="item-instructors">
                <div class="team-item-instructors">
                    <div class="img-team-instructors">
                        <img class="img-instructors" src="../public/img/team-4.jpg" alt="">
                    </div>
                    <div class="container-social-media-instructors">
                        <div class="social-media-instructors">
                            <a class="btn-fb-instructors" href=""><img class="img-facebook" src="../public/img/facebook.png" alt=""></a>
                            <a class="btn-twitter-instructors" href=""><img class="img-twitter" src="../public/img/logo-twitter.png" alt=""></a>
                            <a class="btn-instagram-instructors" href=""><img class="img-insta" src="../public/img/instagram.png" alt=""></a>
                        </div>
                    </div>
                    <div class="container-identity-instructors">
                        <h5 class="name-instructors">Jael</h5>
                        <small class="designation">Formateur JS</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
 <!-- Testimonial Start -->
 <div class="container-section-testimonial">
    <div class="container-testimonial">
        <div class="container-title-testimonial">
            <h6 class="section-title-testimonial">Témoingages</h6>
            <h1 class="title-testimonial">Ce qu'ils disent de nous!</h1>
        </div>
        <div class="container-testimonial">
            <div class="item-testimonial">
                <img class="img-testimonial" src="../public/img/testimonial-1.jpg">
                <h5 class="client-name">Laura Dupont</h5>
                <p class="profession">Enseignante</p>
                <div class="container-text-testimonial">
                <p class="p-testimonial">Ce site web a révolutionné la façon dont j'accède à des ressources pédagogiques de qualité pour mes élèves.</p>
                </div>
            </div>
            <div class="item-testimonial">
                <img class="img-testimonial" src="../public/img/testimonial-2.jpg">
                <h5 class="client-name">Alexandre Tremblay</h5>
                <p class="profession">Profession</p>
                <div class="container-text-testimonial">
                <p class="p-testimonial">Je trouve que ce site web offre une mine d'informations précieuses pour rester à jour dans le domaine de la technologie.</p>
                </div>
            </div>
            <div class="item-testimonial">
                <img class="img-testimonial" src="../public/img/carousel-3.jpg">
                <h5 class="client-name">Sophie Leclerce</h5>
                <p class="profession">Profession</p>
                <div class="container-text-testimonial">
                <p class="p-testimonial">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
             <div class="item-testimonial">
                <img class="img-testimonial" src="../public/img/testimonial-4.jpg">
                <h5 class="client-name">Thomas Martin</h5>
                <p class="profession">Avocat</p>
                <div class="container-text-testimonial">
                <p class="p-testimonial">Ce site me fait gagner un temps précieux et m'assure de rester au fait de la jurisprudence.</p>
                </div>
            </div>
            <div class="progress-buttons">
                <button class="progress-button active" onclick="changeSlide(1)"></button>
                <button class="progress-button" onclick="changeSlide(2)"></button>
                <button class="progress-button" onclick="changeSlide(3)"></button>
                <button class="progress-button" onclick="changeSlide(4)"></button>
            </div>
            
        </div>
    </div>
</div>
    
  <!-- Footer Start -->
  <footer>
    <div class="container-footer-up">
        <div class="footer-up">
            <div class="container-quick-link">
                <h4 class="title-quick-link">Quick Link</h4>
                <a class="btn-quick-link" href="../views/about.html">About Us</a>
                <a class="btn-quick-link" href="../views/contact.html">Contact Us</a>
                <a class="btn-quick-link" href="">Privacy Policy</a>
                <a class="btn-quick-link" href="">Terms & Condition</a>
                <a class="btn-quick-link" href="../views/faq.html">FAQs & Help</a>
            </div>
            <div class="container-contact">
                <h4 class="title-contact">Contact</h4>
                <img class="item-contact" src="../public/img/location.svg" alt=""><p class="adresse-contact detail-adress">123 Street, New York, USA</p><br>
                <img class="item-contact" src="../public/img/call.svg" alt=""><p class="phone-contact detail-adress">+012 345 67890</p><br>
                <img class="item-contact" src="../public/img/mail.svg" alt=""><p class="mail-contact detail-adress">info@example.com</p>
                <div class="container-social-media">
                    <a class="btn-social-twitter" href=""><img class="logo-social-media" src="../public/img/logo-twitter.png" alt=""></a>
                    <a class="btn-social-fb" href=""><img class="logo-social-media" src="../public/img/facebook.png" alt=""></a>
                    <a class="btn-social-linkedin" href=""><img class="logo-social-media" src="../public/img/instagram.png" alt=""></a>
                </div>
            </div>
            <div class="container-gallery">
                <h4 class="title-gallery">Gallery</h4>
                <div class="container-img">
                    <div class="item-gallery">
                        <img class="img-gallery" src="../public/img/course-1.jpg" height="40px" alt="">
                    </div>
                    <div class="item-gallery">
                        <img class="img-gallery" src="../public/img/course-2.jpg" height="40px" alt="">
                    </div>
                    <div class="item-gallery">
                        <img class="img-gallery" src="../public/img/course-3.jpg" height="40px" alt="">
                    </div>
                    <div class="item-gallery">
                        <img class="img-gallery" src="../public/img/course-2.jpg" height="40px" alt="">
                    </div>
                    <div class="item-gallery">
                        <img class="img-gallery" src="../public/img/course-1.jpg" height="40px" alt="">
                    </div>
                    <div class="item-gallery">
                        <img class="img-gallery" src="../public/img/course-3.jpg" height="40px" alt="">
                    </div>
                </div>
            </div>
            <div class="container-newsletter">
                <h4 class="title-newsletter">Newsletter</h4>
                <p>Veuillez vous inscrire à notre newsletter</p>
                <div class="container-newsletter-email">
                    <input class="email-newspaper" type="text" placeholder="Your email">
                    <button type="button" class="btn-email-newspaper">SignUp</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-copyright">
        <div class="content-copyright">
            <div class="row-copyright">
                <div class="item-copyright">
                    &copy; <a class="border-bottom" href="#">e-Madalearning</a>, All Right Reserved. Designed By<a class="border-bottom" href="#">Arnaud RAZAKAMAHEFA</a>
                </div>
                <div class="container-footer-menu">
                    <div class="content-footer-menu">
                        <a href="">Home</a>
                        <a class="a-cookies" href="">Cookies</a>
                        <a class="a-help" href="">Help</a>
                        <a href="../views/faq.html">FAQ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="retour-haut"><img src="../public/img/arrow_circle_up.svg" alt=""></a>

    <!-- importationd des scripts js-->
    <script src="../public/js/changement-couleur-svg.js"></script>
    <script src="../public/js/zoom-categorie.js"></script>
    <script src="../public/js/carousel-testimonial.js"></script>
</body>
</html>
