:root {
  --primary: #06BBCC;
  --light: #F0FBFC;
  --dark: #181d38;
  --white:#fff;
}


@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
  background-color: rgba(24,29,56,0.7);
  z-index: 1;
}


.carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 29, 56, 0.7);
}


.carousel-img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 0;

}


.carousel-content {
  position: absolute;
  float: left;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 2;
  color: white;
  max-width: 80%;
}

/*------------------------ costum read more and join now bouton--------*/
.custom-btn {
  margin: 4%;
}


.custom-btn {

  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  margin-left: 0;
  border: none;
  font-size: 16px;
  cursor: pointer;
}


.readMoreButton{
 color: var(--white);
 background-color: var(--primary);
}


.joinNowButton{
  color: var(--dark);
  background-color: var(--light);
}


/*----------- mise en forme carousel content-----*/
.title-course-carousel{
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  font-size: 1rem;
  line-height: 1;
}
h5, h1{
  margin-top: 0;
  margin-bottom: .5rem;
}

.title-platform-carousel{
  font-size: 5rem;
  font-weight: 800;
  color: var(--white);

}
.p-carousel
{
  color: var(--white);
  font-size: 1.25rem;
  margin-top: 0;
  display: block;
}


/*------------------------ fin costum read mor and join now bouton*/
.arrow {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow img {
  height: 40px;
}

.arrow-left {
  left: 45%;
}

.arrow-right {
  right: 45%;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}
.carousel-item img {
  width: 100vw;
  height: auto;
}
