/*Définition des couleurs*/:root {
  --primary: #06BBCC;
  --light: #F0FBFC;
  --dark: #181d38;
  --white:#fff;
}

/*Définition de la police*/
@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.page-header{
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.title-page-courses,
.groupe-nav {
    text-align: center;
    margin: auto;
}

.navbar-brand{
  font-family: 'Nunito', sans-serif;
}
.navbar-nav{
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
}
.navbar {
  background-color: var(--white);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-page-about,
.groupe-nav {
    text-align: center;
    margin: auto;
}
  

.a-nav-inline,
span {
    color: var(--light);
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    text-decoration: none;

}

.title-page-about{
    color: var(--light);
    font-family: 'Nunito', sans-serif;
    font-size: 4em;
}
.groupe-nav {
    margin-top: 20px; 
}

